In [1]:
import pickle
import pandas as pd
import seaborn as sns
# Enabling the `widget` backend.
# This requires jupyter-matplotlib a.k.a. ipympl.
# ipympl can be install via pip or conda.
%matplotlib widget
import matplotlib.pyplot as plt

In [2]:
dfs=[]
for i in ["alimentation","products","services"]:
    file=pd.read_csv(f"../files/own_dataset/dataset_{i}.csv")
    dfs.append(file)

C:\Users\caloja\AppData\Local\Programs\Python\Python37\lib\site-packages\IPython\core\interactiveshell.py:3166: DtypeWarning: Columns (53) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
C:\Users\caloja\AppData\Local\Programs\Python\Python37\lib\site-packages\IPython\core\interactiveshell.py:3166: DtypeWarning: Columns (43) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
C:\Users\caloja\AppData\Local\Programs\Python\Python37\lib\site-packages\IPython\core\interactiveshell.py:3166: DtypeWarning: Columns (16,43,52) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [39]:
df_model=dfs[1]

In [40]:
df_model=pd.get_dummies(df_model,columns=["estado"])

In [41]:
df_model.columns

Index(['negocio_id', 'nombre', 'direccion', 'ciudad', 'codigo_postal',
       'latitud', 'longitud', 'estrellas', 'cantidad_reseñas', 'abierto',
       'acepta_tarjeta_credito', 'tiene_parqueo_bicicletas',
       'adecuado_para_niños', 'parqueo', 'solo_con_cita', 'rango_precios',
       'categorias', 'atencion_lunes_x', 'atencion_martes_x',
       'atencion_miercoles_x', 'atencion_jueves_x', 'atencion_viernes_x',
       'atencion_sabado_x', 'atencion_domingo_x', 'permite_perros',
       'tiene_wifi', 'codigo_de_vestimenta', 'para_llevar', 'nivel_de_ruido',
       'acepta_reservaciones', 'adecuado_para_grupos', 'tiene_tv',
       'vende_alcohol', 'entregas_a_domicilio', 'mesas_al_aire_libre',
       'tiene_mesero', 'adecuado_para_sillas_de_ruedas', 'acepta_seguro',
       'ambiente', 'adecuado_para_comer', 'tiene_happy_hour', 'acepta_bitcoin',
       'acepta_llevar_bebida_propia', 'adecuado_para_bailar',
       'tiene_guardarropa', 'mejores_noches', 'musica', 'permite_fumar',
       'restriccion_dietas', 'tiene_drive_thru', 'especialidades_en_peinado',
       'edad_permitida', 'servcio_en_la_barra', 'abierto_24_horas',
       'max_min_estrellas', 'max_min_resenas', 'Sentiment', 'metrica_exito',
       'atencion_lunes_y', 'atencion_martes_y', 'atencion_miercoles_y',
       'atencion_jueves_y', 'atencion_viernes_y', 'atencion_sabado_y',
       'atencion_domingo_y', 'week_days', 'weekend_days', 'max_interval',
       'open_morning', 'open_after', 'open_night', 'estado_AB', 'estado_AL',
       'estado_AZ', 'estado_CA', 'estado_CT', 'estado_IL', 'estado_NC',
       'estado_NV', 'estado_NY', 'estado_OH', 'estado_ON', 'estado_PA',
       'estado_QC', 'estado_SC', 'estado_WI'],
      dtype='object')

In [42]:
df_model[[ 'metrica_exito', 'weekend_days','max_min_estrellas', 'max_min_resenas', 'Sentiment',
       'tiene_parqueo_bicicletas', 'open_night', 'parqueo',
       'rango_precios', 'open_after', 'acepta_tarjeta_credito', 'open_morning',
       'abierto_24_horas', 'week_days','estado_AB',
       'estado_AL', 'estado_AZ', 'estado_CA', 'estado_CT', 'estado_IL',
       'estado_NC', 'estado_NV', 'estado_OH', 'estado_ON', 'estado_PA',
       'estado_QC', 'estado_SC', 'estado_WI']]

,metrica_exito,weekend_days,max_min_estrellas,max_min_resenas,Sentiment,tiene_parqueo_bicicletas,open_night,parqueo,rango_precios,open_after,...,estado_CT,estado_IL,estado_NC,estado_NV,estado_OH,estado_ON,estado_PA,estado_QC,estado_SC,estado_WI
0,0.555388,1,0.625,0.310345,0.906250,1.0,0,0.0,2,1,...,0,0,0,0,0,0,0,0,0,0
1,0.452000,1,0.250,0.500000,0.760000,NaN,0,0.0,3,1,...,0,0,0,0,0,1,0,0,0,0
2,0.606897,1,1.000,0.017241,1.000000,1.0,1,1.0,3,0,...,0,0,0,0,1,0,0,0,0,0
3,0.331897,0,0.500,0.017241,0.625000,NaN,0,NaN,NaN,1,...,0,0,0,0,0,0,0,0,0,0
4,0.313793,1,0.375,0.034483,0.750000,1.0,1,0.0,2,0,...,0,0,0,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9672,0.373563,1,0.500,0.017241,0.833333,1.0,0,0.0,2.0,1,...,0,0,0,0,0,0,0,0,0,0
9673,0.437356,1,0.625,0.051724,0.833333,1.0,1,0.0,1.0,0,...,0,0,0,0,0,0,1,0,0,0
9674,0.291247,1,0.250,0.189655,0.576923,1.0,0,1.0,1.0,0,...,0,0,1,0,0,0,0,0,0,0
9675,0.473276,1,0.625,0.120690,0.875000,1.0,1,0.0,2.0,0,...,0,0,0,0,0,0,0,0,0,0
9676,0.744741,1,0.625,0.793103,0.887500,1.0,0,1.0,1.0,1,...,0,0,0,0,0,0,1,0,0,0

In [43]:
from scipy import stats

from kmodes.kmodes import KModes
from sklearn import datasets, linear_model
from sklearn.cluster import MiniBatchKMeans, KMeans
from sklearn.datasets import make_blobs
from sklearn import preprocessing
from sklearn.metrics import silhouette_samples, silhouette_score, mean_squared_error, r2_score
from sklearn.model_selection import train_test_split
from sklearn.decomposition import PCA

from yellowbrick.cluster import KElbowVisualizer
from scipy.stats import norm

In [44]:
import numpy as np
from sklearn.metrics import silhouette_samples, silhouette_score, mean_squared_error, r2_score

In [45]:
col_use=['max_min_estrellas', 'max_min_resenas', 'Sentiment','tiene_parqueo_bicicletas', 'open_night', 'parqueo',
       'rango_precios', 'open_after', 'acepta_tarjeta_credito', 'open_morning',
       'abierto_24_horas', 'week_days']

#,'estado_AB',
 #      'estado_AL', 'estado_AZ', 'estado_CA', 'estado_CT', 'estado_IL',
  #     'estado_NC', 'estado_NV', 'estado_OH', 'estado_ON', 'estado_PA',
   #    'estado_QC', 'estado_SC', 'estado_WI' 'max_min_estrellas', 'max_min_resenas', 'Sentiment',

In [46]:
df_model__copy=df_model.copy()[col_use+['metrica_exito']].dropna()

In [47]:
df_model_1=df_model[col_use].dropna()

In [12]:
cost = []
for i in range(1,21):
  kmode = KModes(n_clusters=i,  init = "Huang", max_iter=300)
  kmode.fit(df_model_1) #Aplicar K-Modes a la base de datos
  cost.append(kmode.cost_)

In [13]:
# GRÁFICO: K-Means óptimo
plt.plot(range(1,21), cost)
plt.title("Elbow Method")
plt.xlabel("Número de clusters")
plt.ylabel("cost")

num_clusters =  10# Se observa en el gráfico
plt.axvline(x = num_clusters, linewidth = 2, color = "red", linestyle = "--" )
plt.show()

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

In [14]:
clustering = KModes(n_clusters=10,  init = "Huang",max_iter=300) # Crea el modelo
clustering.fit(df_model_1) # Aplica el modelo a la base de datos

KModes(init='Huang', max_iter=300, n_clusters=10)

In [15]:
df_model__copy["kmodes_clusters"]=clustering.labels_

In [16]:
goups_clusters=df_model__copy.groupby(by="kmodes_clusters",as_index=False)

In [17]:
for i in goups_clusters.groups.keys():
    group=goups_clusters.get_group(i)
    mean=np.mean(group.metrica_exito)
    print(f"{i}  {mean}")

0  0.5136450909103941
1  0.5885181345128033
2  0.5275515507111941
3  0.536188889700547
4  0.5259242557172004
5  0.5776549530938514
6  0.38999820177239075
7  0.568077003520531
8  0.43674462273072595
9  0.5846890485699213

In [18]:
x = df_model_1.iloc[:,:].values

In [19]:
x

array([[1.0, 0.0172413793103448, 1.0, ..., 1, 0, 1],
       [0.75, 0.0172413793103448, 1.0, ..., 1, 0, 1],
       [0.5, 0.0, 1.0, ..., 1, 0, 1],
       ...,
       [0.625, 0.0517241379310344, 0.8333333333333334, ..., 1, 0, 1],
       [0.25, 0.1896551724137931, 0.5769230769230769, ..., 1, 0, 1],
       [0.625, 0.7931034482758621, 0.8875, ..., 1, 0, 1]], dtype=object)

In [20]:
silhouette_score(x,kmode.labels_)

-0.08709987553108925

In [21]:
pca = PCA(n_components = 2)
pca_user = pca.fit_transform(df_model_1)
pca_user_df = pd.DataFrame(data = pca_user, columns = ["Componente_1", "Componente_2"])
pca_nombres_user = pd.concat([pca_user_df , df_model__copy[["kmodes_clusters"]].reset_index(drop=True)], axis=1)
pca_nombres_user.head()

   Componente_1  Componente_2  kmodes_clusters
0      0.824929     -0.195914                3
1      0.061376     -0.398364                3
2      0.059647     -0.423578                3
3      0.823778     -0.208466                0
4      2.007354     -0.375600                8

In [22]:
pca_nombres_user.kmodes_clusters.unique()

array([3, 0, 8, 5, 2, 1, 7, 4, 6, 9], dtype=uint16)

In [23]:
cmap = plt.cm.Spectral
norm = plt.Normalize(vmin=1, vmax=11)
z = np.array([1,2,3,4,5,6,7,8,9,10])

fig = plt.figure(figsize=(6,6))

ax = fig.add_subplot(1,1,1)
ax.set_xlabel("Componente 1", fontsize = 15)
ax.set_ylabel("Componente 2", fontsize = 15)
ax.set_title("Componentes principales", fontsize = 20)

color_theme = cmap(norm(z))
ax.scatter(x = pca_nombres_user.Componente_1, y = pca_nombres_user.Componente_2, c = color_theme[pca_nombres_user.kmodes_clusters], s = 50)
plt.show()

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

In [24]:
color_theme[pca_nombres_user.kmodes_clusters]

array([[0.99146482, 0.67735486, 0.37808535, 1.        ],
       [0.99146482, 0.67735486, 0.37808535, 1.        ],
       [0.99146482, 0.67735486, 0.37808535, 1.        ],
       ...,
       [0.99607843, 0.87843137, 0.54509804, 1.        ],
       [0.61960784, 0.00392157, 0.25882353, 1.        ],
       [0.83106498, 0.23844675, 0.30880431, 1.        ]])

In [7]:
from sklearn.datasets import make_blobs
from sklearn.cluster import KMeans
from sklearn.metrics import silhouette_samples, silhouette_score
import matplotlib.pyplot as plt
import matplotlib.cm as cm
import numpy as np

In [26]:
range_n_clusters =[2,3,4,5,6,7,8,9,10,11,12,13,14,15]
X=df_model_1[[ 'tiene_parqueo_bicicletas', 'open_night', 'parqueo', 'rango_precios',
       'open_after', 'acepta_tarjeta_credito', 'open_morning',
       'abierto_24_horas', 'week_days']].values
for n_clusters in range_n_clusters:

    clusterer =KModes(n_clusters=n_clusters,  init = "Huang",max_iter=300)
    cluster_labels = clusterer.fit_predict(X)

    silhouette_avg = silhouette_score(X, cluster_labels)
    print("For n_clusters =", n_clusters,
          "The average silhouette_score is :", silhouette_avg)

For n_clusters = 2 The average silhouette_score is : 0.22255086711162533
For n_clusters = 3 The average silhouette_score is : 0.20436710550494816
For n_clusters = 4 The average silhouette_score is : 0.3294108055951454
For n_clusters = 5 The average silhouette_score is : 0.4204966526965818
For n_clusters = 6 The average silhouette_score is : 0.36413447787099046
For n_clusters = 7 The average silhouette_score is : 0.4765982905862251
For n_clusters = 8 The average silhouette_score is : 0.5956530903444193
For n_clusters = 9 The average silhouette_score is : 0.639535445308399
For n_clusters = 10 The average silhouette_score is : 0.5906593352868094
For n_clusters = 11 The average silhouette_score is : 0.5637863001895923
For n_clusters = 12 The average silhouette_score is : 0.4190568275345402
For n_clusters = 13 The average silhouette_score is : 0.31193664334532656
For n_clusters = 14 The average silhouette_score is : 0.5798732853743408
For n_clusters = 15 The average silhouette_score is : 0.6566204418019428

In [27]:
df_model_1.columns

Index(['max_min_estrellas', 'max_min_resenas', 'Sentiment',
       'tiene_parqueo_bicicletas', 'open_night', 'parqueo', 'rango_precios',
       'open_after', 'acepta_tarjeta_credito', 'open_morning',
       'abierto_24_horas', 'week_days'],
      dtype='object')

In [28]:
range_n_clusters =[2,3,4,5,6,7,8,9,10,11,12,13,14,15]
X=df_model_1[[ 'tiene_parqueo_bicicletas', 'open_night', 'parqueo', 'rango_precios',
       'open_after', 'acepta_tarjeta_credito', 'open_morning',
       'abierto_24_horas', 'week_days']].values
for n_clusters in range_n_clusters:

    clusterer =KMeans(n_clusters=n_clusters, max_iter=300)

    cluster_labels = clusterer.fit_predict(X)

    silhouette_avg = silhouette_score(X, cluster_labels)
    print("For n_clusters =", n_clusters,
          "The average silhouette_score is :", silhouette_avg)

For n_clusters = 2 The average silhouette_score is : 0.3855336652339273
For n_clusters = 3 The average silhouette_score is : 0.4173851517162564
For n_clusters = 4 The average silhouette_score is : 0.4657259582296164
For n_clusters = 5 The average silhouette_score is : 0.4893884458659795
For n_clusters = 6 The average silhouette_score is : 0.532712559104742
For n_clusters = 7 The average silhouette_score is : 0.5993028258664532
For n_clusters = 8 The average silhouette_score is : 0.6161069442024794
For n_clusters = 9 The average silhouette_score is : 0.6714013898059473
For n_clusters = 10 The average silhouette_score is : 0.7034123907314398
For n_clusters = 11 The average silhouette_score is : 0.7496521998192188
For n_clusters = 12 The average silhouette_score is : 0.7718534567697701
For n_clusters = 13 The average silhouette_score is : 0.7739350210976634
For n_clusters = 14 The average silhouette_score is : 0.799271098063569
For n_clusters = 15 The average silhouette_score is : 0.8164111855531261

In [29]:
df_model_1

,max_min_estrellas,max_min_resenas,Sentiment,tiene_parqueo_bicicletas,open_night,parqueo,rango_precios,open_after,acepta_tarjeta_credito,open_morning,abierto_24_horas,week_days
2,1.000,0.017241,1.000000,1.0,1,1.0,3,0,1.0,1,0,1
9,0.750,0.017241,1.000000,1.0,1,0.0,2,0,1.0,1,0,1
10,0.500,0.000000,1.000000,1.0,1,0.0,2,0,1.0,1,0,1
12,0.875,0.017241,1.000000,1.0,1,1.0,3,0,1.0,1,0,1
14,0.625,0.000000,0.500000,1.0,1,0.0,4,0,1.0,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...
9669,0.875,0.362069,1.000000,1.0,1,1.0,2.0,0,1.0,1,0,1
9672,0.500,0.017241,0.833333,1.0,0,0.0,2.0,1,1.0,1,0,1
9673,0.625,0.051724,0.833333,1.0,1,0.0,1.0,0,1.0,1,0,1
9674,0.250,0.189655,0.576923,1.0,0,1.0,1.0,0,1.0,1,0,1
9676,0.625,0.793103,0.887500,1.0,0,1.0,1.0,1,1.0,1,0,1

In [48]:
col_use=['tiene_parqueo_bicicletas', 'open_night', 'parqueo',
       'rango_precios', 'open_after', 'acepta_tarjeta_credito', 'open_morning',
       'abierto_24_horas', 'week_days']

#,'estado_AB',
 #      'estado_AL', 'estado_AZ', 'estado_CA', 'estado_CT', 'estado_IL',
  #     'estado_NC', 'estado_NV', 'estado_OH', 'estado_ON', 'estado_PA',
   #    'estado_QC', 'estado_SC', 'estado_WI' 'max_min_estrellas', 'max_min_resenas', 'Sentiment',

In [49]:
df_model__copy=df_model.copy()[col_use+['metrica_exito']].dropna()
df_model_1=df_model[col_use].dropna()
clustering = KMeans(n_clusters=15,  max_iter=300) # Crea el modelo
clustering.fit(df_model_1) # A
df_model__copy["kmeans_clusters"]=clustering.labels_

In [32]:
pca = PCA(n_components = 3)
pca_user = pca.fit_transform(df_model_1)
pca_user_df = pd.DataFrame(data = pca_user, columns = ["Componente_1", "Componente_2","Componente_3"])
pca_nombres_user = pd.concat([pca_user_df , df_model__copy[["kmeans_clusters"]].reset_index(drop=True)], axis=1)
pca_nombres_user.head()

   Componente_1  Componente_2  Componente_3  kmeans_clusters
0      0.817237     -0.233873      0.671393               10
1      0.051124     -0.416313     -0.481589                4
2      0.051124     -0.416313     -0.481589                4
3      0.817237     -0.233873      0.671393               10
4      2.003414     -0.347599     -0.056144               11

In [33]:
from mpl_toolkits.mplot3d import Axes3D

In [34]:
cmap = plt.cm.Spectral
norm = plt.Normalize(vmin=1, vmax=16)
z = np.array([1,2,3,4,5,6,7,8,9,10,11,12,13,14,15])

fig = plt.figure(figsize=(6,6))
ax = Axes3D(fig)
ax.set_xlabel("Componente 1", fontsize = 15)
ax.set_ylabel("Componente 2", fontsize = 15)
ax.set_zlabel("Componente 3", fontsize=15)
ax.set_title("Componentes principales", fontsize = 20)

color_theme = cmap(norm(z))
ax.scatter(pca_nombres_user.Componente_1,  pca_nombres_user.Componente_2,pca_nombres_user.Componente_3, c = color_theme[pca_nombres_user.kmeans_clusters])
plt.show()

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

In [39]:
from sklearn.cluster import AgglomerativeClustering
from sklearn.cluster import DBSCAN

In [75]:
range_n_clusters =[2,3,4,5,6,7,8,9,10,11,12,13,14,15]
X=df_model_1[[ 'tiene_parqueo_bicicletas', 'open_night', 'parqueo', 'rango_precios',
       'open_after', 'acepta_tarjeta_credito', 'open_morning',
       'abierto_24_horas', 'week_days']].values
for n_clusters in range_n_clusters:

    clusterer =KModes(n_clusters=n_clusters, init="Huang")
    cluster_labels = clusterer.fit_predict(X)
    silhouette_avg = silhouette_score(X, cluster_labels)
    print("For n_clusters =", n_clusters,
          "The average silhouette_score is :", silhouette_avg)

For n_clusters = 2 The average silhouette_score is : 0.2963286241564542
For n_clusters = 3 The average silhouette_score is : 0.39523486663536206
For n_clusters = 4 The average silhouette_score is : 0.4060781979355984
For n_clusters = 5 The average silhouette_score is : 0.35576133890301465
For n_clusters = 6 The average silhouette_score is : 0.37852922217966256
For n_clusters = 7 The average silhouette_score is : 0.1452372452724538
For n_clusters = 8 The average silhouette_score is : 0.3421284614179821
For n_clusters = 9 The average silhouette_score is : 0.6133530380435837
For n_clusters = 10 The average silhouette_score is : 0.5034948277960767
For n_clusters = 11 The average silhouette_score is : 0.44896782514295774
For n_clusters = 12 The average silhouette_score is : 0.4949958848940853
For n_clusters = 13 The average silhouette_score is : 0.622625833539906
For n_clusters = 14 The average silhouette_score is : 0.6941691765966078
For n_clusters = 15 The average silhouette_score is : 0.5287631138460911

In [48]:
db = DBSCAN(eps=0.4, min_samples=30)

In [54]:
cluster_labels=db.fit_predict(X)

In [55]:
silhouette_avg = silhouette_score(X, cluster_labels)

In [56]:
silhouette_avg

0.873754854018739

In [57]:
np.unique(db.labels_)

array([-1,  0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15,
       16, 17], dtype=int64)

In [60]:
import numpy as np
from sklearn.neighbors import NearestNeighbors
from matplotlib import pyplot as plt
import seaborn as sns
sns.set()

In [72]:
neigh = NearestNeighbors(n_neighbors=2)
nbrs = neigh.fit(X)
distances, indices = nbrs.kneighbors(X)

In [73]:
distances

array([[0., 0.],
       [0., 0.],
       [0., 0.],
       ...,
       [0., 0.],
       [0., 1.],
       [0., 0.]])

In [67]:
distances = np.sort(distances, axis=0)
distances = distances[:,1]

In [50]:
import matplotlib.pyplot as plt

In [51]:
plt.figure()
df_model__copy.metrica_exito.hist(bins = 10, figsize = (10,5))

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

In [52]:
plt.figure()
df_model__copy.metrica_exito.plot.box()

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

In [111]:
df_model__copy.rango_precios=[float(i) for i in df_model__copy.rango_precios.to_list()]

In [113]:
df_model_1

,tiene_parqueo_bicicletas,open_night,parqueo,rango_precios,open_after,acepta_tarjeta_credito,open_morning,abierto_24_horas,week_days
2,1.0,1,1.0,3,0,1.0,1,0,1
9,1.0,1,0.0,2,0,1.0,1,0,1
10,1.0,1,0.0,2,0,1.0,1,0,1
12,1.0,1,1.0,3,0,1.0,1,0,1
14,1.0,1,0.0,4,0,1.0,1,0,1
...,...,...,...,...,...,...,...,...,...
9669,1.0,1,1.0,2.0,0,1.0,1,0,1
9672,1.0,0,0.0,2.0,1,1.0,1,0,1
9673,1.0,1,0.0,1.0,0,1.0,1,0,1
9674,1.0,0,1.0,1.0,0,1.0,1,0,1
9676,1.0,0,1.0,1.0,1,1.0,1,0,1

In [118]:
df_model__copy[['tiene_parqueo_bicicletas', 'open_night', 'parqueo', 'rango_precios',
       'open_after', 'acepta_tarjeta_credito', 'open_morning',
       'abierto_24_horas', 'week_days']]

,tiene_parqueo_bicicletas,open_night,parqueo,rango_precios,open_after,acepta_tarjeta_credito,open_morning,abierto_24_horas,week_days
2,1.0,1,1.0,3.0,0,1.0,1,0,1
9,1.0,1,0.0,2.0,0,1.0,1,0,1
10,1.0,1,0.0,2.0,0,1.0,1,0,1
12,1.0,1,1.0,3.0,0,1.0,1,0,1
14,1.0,1,0.0,4.0,0,1.0,1,0,1
...,...,...,...,...,...,...,...,...,...
9669,1.0,1,1.0,2.0,0,1.0,1,0,1
9672,1.0,0,0.0,2.0,1,1.0,1,0,1
9673,1.0,1,0.0,1.0,0,1.0,1,0,1
9674,1.0,0,1.0,1.0,0,1.0,1,0,1
9676,1.0,0,1.0,1.0,1,1.0,1,0,1

In [127]:
df_model__copy.acepta_tarjeta_credito.unique()

array([1.])

In [130]:
df_model.acepta_tarjeta_credito.unique()

array([nan,  1.])

In [34]:
import pickle
from df_categories import *
file=open("../analyze/dict_cate_p_a_s","rb")
filename="../files/negocio.csv"
dict_categories=pickle.load(file)
file.close()

In [35]:
dfs=get_dataframe_with_category(dict_categories,filename)

C:\Users\caloja\AppData\Local\Programs\Python\Python37\lib\site-packages\IPython\core\interactiveshell.py:3357: DtypeWarning: Columns (16,49,52,53,54) have mixed types.Specify dtype option on import or set low_memory=False.
  if (await self.run_code(code, result,  async_=asy)):
C:\Users\caloja\AppData\Local\Programs\Python\Python37\lib\site-packages\pandas\core\generic.py:5494: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

In [45]:
dict_dfs=get_dataframes_by_categories(dict_categories,filename)

C:\Users\caloja\AppData\Local\Programs\Python\Python37\lib\site-packages\IPython\core\interactiveshell.py:3437: DtypeWarning: Columns (16,49,52,53,54) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)
C:\Users\caloja\AppData\Local\Programs\Python\Python37\lib\site-packages\pandas\core\generic.py:5494: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

In [46]:
products_df=dict_dfs["product"]
services_df=dict_dfs["services"]
alimentations_df=dict_dfs["alimentation"]

In [47]:
import matplotlib.pyplot as plt

In [48]:
import numpy as np
from scipy import stats

In [49]:
def plot_by_day(df,title):
    columnas=df.columns
    n=0
    fig, axs=plt.subplots(2,4)
    fig.suptitle(title)
    fig.set_size_inches(10, 10)
    for i in range(2):
        for j in range(4):
            if n!= len(columnas):
                colname=columnas[n]
                data=df[colname]
                axs[i,j].hist(data,weights=np.zeros_like(data+1. / len(data)))
                axs[i,j].set_title(f"{colname}")
                n+=1

In [55]:
def plotDf(df,title,general_title,subtitle):
    columnas=df.columns
    n=0
    fig, axs=plt.subplots(2,4)
    fig.suptitle(f"{general_title}-{title}")
    fig.set_size_inches(10, 10)
    for i in range(2):
        for j in range(4):
            if n!=len(columnas):
                colname=columnas[n]
                data=df[colname].dropna().to_numpy()
                unicos=np.unique(data)

                res = stats.relfreq(data, numbins=len(unicos))
                x = res.lowerlimit + np.linspace(0, res.binsize*res.frequency.size,res.frequency.size)

                axs[i,j].bar(x,res.frequency,width=res.binsize)
                axs[i,j].set_title(f"{colname}")
                n+=1
    fig.savefig(f"../files/images/{general_title}_{subtitle}_{title}.png")
    plt.close(fig)

In [56]:
def plot_all_df(df,general_title):
    p_exito_df=df[df.metrica_exito>=0.7]
    p_medio_df=df[df.metrica_exito<0.7]
    p_exito_df=df[df.metrica_exito>0.4]
    p_fracaso_df=df[df.metrica_exito<=0.4]
    
    cols1=['horario_atencion_lunes_y', 'horario_atencion_martes_y',
       'horario_atencion_miercoles_y', 'horario_atencion_jueves_y',
       'horario_atencion_viernes_y', 'horario_atencion_sabado_y',
       'horario_atencion_domingo_y']
    cols2=['tiene_parqueo_bicicletas', 'parqueo', 'rango_precios', 'acepta_tarjeta_credito',
                            'abierto_24_horas', 'week_days','weekend_days']
    
    list_dfs_cat=[p_exito_df,p_medio_df,p_fracaso_df]
    for l_df,name in zip(list_dfs_cat,["Exito","Medio","Fracaso"]):
        plotDf(l_df[cols1],name,general_title,"atencion_horario")
        plotDf(l_df[cols2],name,general_title,"categoricas")

In [57]:
plot_all_df(dfs,"negocios")

In [58]:
plot_all_df(products_df,"productos")

In [59]:
plot_all_df(services_df,"servicios")

In [60]:
plot_all_df(alimentations_df,"alimentos")

In [10]:
p_exito_df=products_df[products_df.metrica_exito>=0.7]
p_medio_df=products_df[products_df.metrica_exito<0.7]
p_medio_df=products_df[products_df.metrica_exito>0.4]
p_fracaso_df=products_df[products_df.metrica_exito<=0.4]

In [34]:
cols=['horario_atencion_lunes_y', 'horario_atencion_martes_y',
       'horario_atencion_miercoles_y', 'horario_atencion_jueves_y',
       'horario_atencion_viernes_y', 'horario_atencion_sabado_y',
       'horario_atencion_domingo_y']

In [58]:
plot_by_day(p_medio_df[cols],"Medio")
plt.savefig("f3.png")
plot_by_day(p_fracaso_df[cols],"Fracaso")
plt.savefig("f4.png")

c:\users\caloja\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:4: RuntimeWarning: More than 20 figures have been opened. Figures created through the pyplot interface (`matplotlib.pyplot.figure`) are retained until explicitly closed and may consume too much memory. (To control this warning, see the rcParam `figure.max_open_warning`).
  after removing the cwd from sys.path.

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

In [12]:
new_product_df=products_df[['tiene_parqueo_bicicletas', 'parqueo', 'rango_precios', 'acepta_tarjeta_credito',
                            'abierto_24_horas', 'week_days','metrica_exito','weekend_days']].dropna()

In [13]:
exito_df=new_product_df[new_product_df.metrica_exito>=0.7]
medio_df=new_product_df[new_product_df.metrica_exito<0.7]
medio_df=new_product_df[new_product_df.metrica_exito>0.4]
fracaso_df=new_product_df[new_product_df.metrica_exito<=0.4]

In [14]:
import matplotlib.pyplot as plt

In [52]:
plotDf(exito_df[['tiene_parqueo_bicicletas', 'parqueo', 'rango_precios', 'acepta_tarjeta_credito',
                            'abierto_24_horas', 'week_days','weekend_days']],"Exito")

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

In [53]:
plotDf(medio_df[['tiene_parqueo_bicicletas', 'parqueo', 'rango_precios', 'acepta_tarjeta_credito',
                            'abierto_24_horas', 'week_days','weekend_days']],"Medio")

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

In [97]:
plotDf(fracaso_df[['tiene_parqueo_bicicletas', 'open_night', 'parqueo', 'rango_precios',
       'open_after', 'acepta_tarjeta_credito', 'open_morning',
       'abierto_24_horas', 'week_days']],"Fracaso")

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

In [15]:
l=list(products_df[products_df.metrica_exito>=0.7].categorias)

In [16]:
s=set()
for i in l:
    i_split=i.strip().split(",")
    for j in i_split:
        s.add(j.strip())

In [38]:
p_df=products_df[['tiene_parqueo_bicicletas', 'parqueo', 'rango_precios', 'acepta_tarjeta_credito',
                            'abierto_24_horas', 'week_days','metrica_exito','weekend_days', "metrica_exito"]]

In [39]:
eliminados=list(p_df.dropna().index)

In [45]:
p_df[~p_df.index.isin(eliminados)].describe()

,tiene_parqueo_bicicletas,parqueo,rango_precios,acepta_tarjeta_credito,abierto_24_horas,week_days,metrica_exito,weekend_days,metrica_exito
count,1835.000000,2852.000000,2806.000000,2450.000000,5829.000000,5829.000000,5829.000000,5829.000000,5829.000000
mean,0.810899,0.125526,2.266215,0.898367,0.015783,0.997770,0.439585,0.914908,0.439585
std,0.391695,0.331372,0.760930,0.302226,0.124646,0.047177,0.153548,0.279042,0.153548
min,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1.000000,0.000000,2.000000,1.000000,0.000000,1.000000,0.334483,1.000000,0.334483
50%,1.000000,0.000000,2.000000,1.000000,0.000000,1.000000,0.450000,1.000000,0.450000
75%,1.000000,0.000000,3.000000,1.000000,0.000000,1.000000,0.556897,1.000000,0.556897
max,1.000000,1.000000,4.000000,1.000000,1.000000,1.000000,0.995556,1.000000,0.995556

In [46]:
p_df[p_df.index.isin(eliminados)].describe()

,tiene_parqueo_bicicletas,parqueo,rango_precios,acepta_tarjeta_credito,abierto_24_horas,week_days,metrica_exito,weekend_days,metrica_exito
count,3773.000000,3773.000000,3773.000000,3773.000000,3773.000000,3773.000000,3773.000000,3773.000000,3773.000000
mean,0.751391,0.169626,2.077922,0.991254,0.022263,0.997350,0.526419,0.960509,0.526419
std,0.432264,0.375354,0.698258,0.093124,0.147559,0.051421,0.146538,0.194786,0.146538
min,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1.000000,0.000000,2.000000,1.000000,0.000000,1.000000,0.430460,1.000000,0.430460
50%,1.000000,0.000000,2.000000,1.000000,0.000000,1.000000,0.530690,1.000000,0.530690
75%,1.000000,0.000000,2.000000,1.000000,0.000000,1.000000,0.617374,1.000000,0.617374
max,1.000000,1.000000,4.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [50]:
pip freeze

anyio==2.2.0
appdirs==1.4.4
argon2-cffi==20.1.0
astroid==2.5.1
async-generator==1.10
attrs==20.3.0
autopep8==1.5.5
Babel==2.9.0
backcall==0.2.0
bleach==3.3.0
certifi==2020.12.5
cffi==1.14.5
chardet==4.0.0
click==7.1.2
colorama==0.4.4
Note: you may need to restart the kernel to use updated packages.CVXcanon==0.1.2
WARNING: Could not generate requirement for distribution -vxpy 1.1.11 (c:\users\caloja\appdata\local\programs\python\python37\lib\site-packages): Parse error at "'-vxpy==1'": Expected W:(abcd...)
WARNING: Could not generate requirement for distribution -vxcanon 0.1.2 (c:\users\caloja\appdata\local\programs\python\python37\lib\site-packages): Parse error at "'-vxcanon'": Expected W:(abcd...)

cvxopt==1.2.6
cvxpy==1.1.11
cycler==0.10.0
decorator==4.4.2
defusedxml==0.7.1
dill==0.3.3
distlib==0.3.1
ecos==2.0.7.post1
entrypoints==0.3
fastcache==1.1.0
filelock==3.0.12
flake8==3.8.4
future==0.18.2
GLRM==0.0.1
h2o==3.32.0.4
idna==2.10
importlib-metadata==3.7.2
ipykernel==5.5.0
ipympl==0.6.3
ipyparallel==6.3.0
ipython==7.21.0
ipython-genutils==0.2.0
ipywidgets==7.6.3
isort==5.7.0
jedi==0.17.2
Jinja2==2.11.3
joblib==1.0.1
json5==0.9.5
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==6.1.11
jupyter-console==6.2.0
jupyter-contrib-core==0.3.3
jupyter-contrib-nbextensions==0.5.1
jupyter-core==4.7.1
jupyter-highlight-selected-word==0.2.0
jupyter-latex-envs==1.4.6
jupyter-lsp==1.1.4
jupyter-nbextensions-configurator==0.4.1
jupyter-packaging==0.7.12
jupyter-server==1.4.1
jupyterlab==3.0.10
jupyterlab-lsp==3.4.1
jupyterlab-pygments==0.1.2
jupyterlab-server==2.3.0
jupyterlab-widgets==1.0.0
kiwisolver==1.3.1
kmodes==0.11.0
lazy-object-proxy==1.5.2
lxml==4.6.2
MarkupSafe==1.1.1
matplotlib==3.3.4
mccabe==0.6.1
mistune==0.8.4
mlxtend==0.18.0
multiprocess==0.70.11.1
mysql-connector-python==8.0.23
nbclassic==0.2.6
nbclient==0.5.3
nbconvert==6.0.7
nbformat==5.1.2
nest-asyncio==1.5.1
nltk==3.5
nodejs==0.1.1
notebook==6.2.0
numpy==1.19.5
oauthlib==3.1.0
optional-django==0.1.0
osqp==0.6.2.post0
packaging==20.9
pandas==1.2.3
pandocfilters==1.4.3
parso==0.7.1
patsy==0.5.1
pbr==5.5.1
pickleshare==0.7.5
Pillow==8.1.2
pluggy==0.13.1
prometheus-client==0.9.0
prompt-toolkit==3.0.16
protobuf==3.15.5
pycodestyle==2.6.0
pycosat==0.6.3
pycparser==2.20
pydocstyle==5.1.1
pyflakes==2.2.0
Pygments==2.8.1
pylint==2.7.2
pyparsing==2.4.7
pyrsistent==0.17.3
PySocks==1.7.1
python-dateutil==2.8.1
python-jsonrpc-server==0.4.0
python-language-server==0.36.2
pytz==2021.1
pywin32==300
pywinpty==0.5.7
PyYAML==5.4.1
pyzmq==22.0.3
qdldl==0.1.5.post0
qtconsole==5.0.2
QtPy==1.9.0
regex==2020.11.13
requests==2.25.1
requests-oauthlib==1.3.0
rope==0.18.0
scikit-learn==0.24.1
scipy==1.6.1
scs==2.1.2
seaborn==0.11.1
Send2Trash==1.5.0
six==1.15.0
sklearn==0.0
sniffio==1.2.0
snowballstemmer==2.1.0
statsmodels==0.12.2
stevedore==3.3.0
tabulate==0.8.9
terminado==0.9.2
testpath==0.4.4
textblob==0.15.3
threadpoolctl==2.1.0
toml==0.10.2
toolz==0.11.1
tornado==6.1
tqdm==4.59.0
traitlets==5.0.5
tweepy==3.10.0
typed-ast==1.4.2
typing-extensions==3.7.4.3
ujson==4.0.2
urllib3==1.26.3
virtualenv==20.4.2
virtualenv-clone==0.5.4
virtualenvwrapper==4.8.4
wcwidth==0.2.5
webencodings==0.5.1
widgetsnbextension==3.5.1
wrapt==1.12.1
xgboost==1.3.3
yapf==0.30.0
yellowbrick==1.3.post1
zipp==3.4.1